@font-face {  
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;

}

body{
    font-size: 32px;
    color: blue;
    background: url('../images/Background-Questions1.jpg') no-repeat center center fixed;
    background-size: cover;
}


button {

    background-color: transparent;
    border-color: #b0e0e6;
    border-width: 4px;
}
.btn-lg{
    padding: 15px 15px;
    width: 250px;
    font-size: 24px;
}

div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    background-color: white;
    opacity: 0.9;

}
.jumbotron {
    background-color: white;
    opacity: 0.9;
    margin-bottom: 0;
}

#category, #question, {
    padding-bottom: 10px;
}

.ansOptions {
    color: rgb(75,0,35);
    cursor: pointer;
}

.ansOptions:hover {
    color: green;
    font-weight: bold;
    -webkit-animation:bounceOut .4s linear;
}

