@font-face {  
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;

}

body{
    font-size: 32px;
    color: blue;
    background: url('../images/Background-Questions1.jpg') no-repeat center center fixed;
    background-size: cover;
}

form {
    font-size: 16px;
}

select {
    background-color: transparent;
    border-color: #b0e0e6;
    border-width: 2px;
}

button {
    background-color: transparent;
    border-color: #b0e0e6;
    border-width: 2px;
}

div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    background-color: white;
    opacity: 0.9;

}
.jumbotron {
    background-color: white;
    opacity: 0.9;
    padding-top: 0;
    margin-bottom: 0;
}

#title, #category, #question, #answer0, #answer1, #answer2, #answer3 {
    padding-bottom: 10px;
}

.ansOptions {
    cursor: pointer;
}

.ansOptions:hover {
    color: green;
    -webkit-animation:bounceOut .4s linear;
}

#game-alert {
    height: 300px;
    position: absolute;
    width: 540px;
    border: 3px solid #b0e0e6;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    background-color: grey;
    z-index: 11;
    left: 469px;
}
